

<ion-content>
    <ion-item>
        <ion-img src="assets/icon/logo4.png"></ion-img>
    </ion-item> 
<div class="ion-padding">
<ion-card>
<ion-card-header>
  <ion-input type="text" placeholder="Username"> <ion-icon name="person"></ion-icon></ion-input> 
 
</ion-card-header>



</ion-card>

<ion-card>
    <ion-card-header>
     
      <ion-input type="Password" placeholder="Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input> 
      
    </ion-card-header>
  
    
    
    </ion-card>
    <a><br>Forget Your Password ?</a>
    <ion-button expand="block">Log In </ion-button>
<a><br>Forget Your Password ?</a>

</div>
</ion-content>



   

   
        

      
       