
  
   .info{
       display: block;
       background-color:white;
       
   }

  
   ion-card-header{
       color:black;

   }

   ion-img{
       
       position: center;
   }

   ion-icon{
       left:10%;
       size:1000px;
       color:gray;

   }

   ion-button {
       color:"primary";
       
   }

   
